body {
  background-color: #989898;
}
h1 {
  text-align: center;
  color: #ffffff;
}
h2 {
  margin: 0px;
}
.box {
  background-color: #e7e7e7e7;
  padding: 20px;
  color: #141414;
  border: 1px solid #989898;
  border-radius: 4px;
}
.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  place-content: center;
  gap: 20px;
  height: 400px;
}

button {
  background-color: #123982;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}
